@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
@font-face {
    font-family: 'JF-Flat-regular';
    src: url('../fonts/JF-Flat-regular.woff') format('woff'), url('../fonts/JF-Flat-regular.ttf') format('truetype'), url('../fonts/JF-Flat-regular.svg#JF-Flat-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
    direction: rtl
}
body {
    font-family: "JF-Flat-regular", Sans-Serif;
    background: #FBF8F3;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
button,
input,
select,
textarea {
    font-family: 'JF-Flat-regular', sans-serif;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover,
.btn:focus {
    color: #fff;
    background-color: #ae864b;
    border-color: #ae864b;
    border-radius: 2px;
    outline: 0;
}
.form-control,
.form-control:focus {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    color: #888;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #55555514;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

textarea {
    height: 180px !important;
    resize: none
}
a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #ae864b;
}

::-webkit-scrollbar {
    width: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #333;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*-------------------------------*/
.body-all{
    max-width: 1200px;
    margin: 0 auto;
    background: #fff
}
header{
    border-bottom: 1px solid #eee;
    border-top: 2px solid #ae864b;

}
.navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-family: inherit;
    background-color: #fff;
    text-align: center;

}

.navigation * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.navigation-portrait {
    height: 48px
}

.navigation-fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 19998
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}
.nav-menus-wrapper,.nav-search{
    display: inline-block;
}
.align-to-right {
    float: left
}

.nav-header {
    float: right
}

.navigation-hidden .nav-header {
    display: none
}

.nav-brand {
    line-height: 70px;
    padding: 0;
    color: #343a40;
    font-size: 24px;
    text-decoration: none !important
}

.nav-brand:hover,
.nav-brand:focus {
    color: #343a40
}

.navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 48px
}

.nav-logo>img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: right
}

.nav-logo:focus>img {
    outline: initial
}

.navigation-portrait .nav-logo>img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0
}

.nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 15px;
    display: none;
    cursor: pointer
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 .5em 0 0 #343a40, 0 1em 0 0 #343a40
}

.navigation-portrait .nav-toggle {
    display: block
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    right: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    right: auto;
    left: -400px
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    right: 0
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    right: auto;
    left: 0
}

.nav-menus-wrapper-close-button {
    width: 30px;
    height: 40px;
    margin: 10px 7px;
    display: none;
    float: left;
    color: #343a40;
    font-size: 26px;
    cursor: pointer
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: block
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0;
    text-align: center
    
}

.navigation-portrait .nav-menu {
    width: 100%
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
    float: none
}

.nav-menu>li {
    display: inline-block;
    margin: 0 15px;
    text-align: center
}

.navigation-portrait .nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0
}

.navigation-portrait .nav-menu>li:last-child {
    border-bottom: solid 1px #f0f0f0
}

.nav-menu+.nav-menu>li:first-child {
    border-top: none
}

.nav-menu>li>a {
    height: 70px;
    padding: 26px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #343a40;
    -webkit-transition: color .3s, background .3s;
    transition: color .3s, background .3s;
    font-weight: bold;
}

.navigation-portrait .nav-menu>li>a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
    color: #fff;
    background: #ae864b;
}

.nav-menu>li>a>i,
.nav-menu>li>a>[class*=ion-] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}

.nav-menu>li>a>[class*=ion-] {
    width: 16px;
    display: inline-block;
    -webkit-transform: scale(1.8);
    transform: scale(1.8)
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}

.nav-menu.nav-menu-social>li {
    text-align: center;
    float: none;
    border: none !important
}

.navigation-portrait .nav-menu.nav-menu-social>li {
    width: auto
}

.nav-menu.nav-menu-social>li>a>[class*=ion-] {
    font-size: 12px
}

.nav-menu.nav-menu-social>li>a>.fa {
    font-size: 14px
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
    padding: 15px
}

.submenu-indicator {
    margin-right: 6px;
    margin-top: 6px;
    float: left;
    -webkit-transition: all .2s;
    transition: all .2s
}

.navigation-portrait .submenu-indicator {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 20000
}

.submenu-indicator-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #70798b #70798b transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border .2s;
    transition: border .2s
}

.navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 18px;
    right: 24px
}

.nav-menu>li:hover>a .submenu-indicator-chevron,
.nav-menu>.active>a .submenu-indicator-chevron,
.nav-menu>.focus>a .submenu-indicator-chevron {
    border-color: transparent #fff #fff transparent
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nav-search {
    height: 65px;
    z-index: 19998
}

.navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 52px
}

.navigation-hidden .nav-search {
    display: none
}

.nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    /* background-color: #fbfcfd */
}

.navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px
}

.nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #343a40;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nav-search-icon:after,
.nav-search-icon:before {
    content: '';
    pointer-events: none
}

.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    right: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-search-button:hover .nav-search-icon {
    color: #ae864b
}

.nav-search>form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 99
}

.nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table
}

.navigation-portrait .nav-search-inner {
    height: 48px
}

.nav-search-inner input[type=text],
.nav-search-inner input[type=search] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #343a40;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s
}

.navigation-portrait .nav-search-inner input[type=text],
.navigation-portrait .nav-search-inner input[type=search] {
    height: 48px;
    font-size: 18px;
    line-height: 48px
}

.nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    line-height: normal;
    color: #343a40;
    font-size: 20px;
    cursor: pointer;
    text-align: center
}

.navigation-portrait .nav-search-close-button {
    top: 10px;
    left: 14px
}

.nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px
}

.nav-button:hover,
.nav-button:focus {
    color: #fff;
    text-decoration: none
}

.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px
}

.nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0
}

.navigation-portrait .nav-text+ul {
    margin-top: 15px
}

.nav-dropdown {
    min-width: 180px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    right: 0
}

.nav-dropdown .nav-dropdown {
    right: 100%
}

.nav-menu>li>.nav-dropdown {
    border-top: solid 1px #f0f0f0
}

.nav-dropdown>li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: right
}

.nav-dropdown>li>a {
    width: 100%;
    padding: 16px 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 13px;
    color: #343a40;
    background-color: #fdfdfd;
}

.nav-dropdown>li:hover>a,
.nav-dropdown>li.focus>a {
    color: #ae864b
}

.nav-dropdown.nav-dropdown-left {
    left: 0
}

.nav-dropdown>li>.nav-dropdown-left {
    right: auto;
    left: 100%
}

.navigation-landscape .nav-dropdown.nav-dropdown-left>li>a {
    text-align: right
}

.navigation-portrait .nav-dropdown>li>a {
    padding: 12px 20px 12px 30px
}

.navigation-portrait .nav-dropdown>li>ul>li>a {
    padding-left: 50px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
    padding-left: 70px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 110px
}

.nav-dropdown .submenu-indicator {
    left: 15px;
    top: 10px;
    position: absolute
}

.navigation-portrait .nav-dropdown .submenu-indicator {
    left: 0;
    top: 0
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg)
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-dropdown>li:hover>a .submenu-indicator-chevron,
.nav-dropdown>.focus>a .submenu-indicator-chevron {
    border-color: transparent #ae864b #ae864b transparent
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    right: 10px
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.nav-dropdown-horizontal {
    width: 100%;
    right: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    right: 0
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none
}

.nav-dropdown-horizontal>li {
    width: auto;
    clear: none;
    position: static
}

.navigation-portrait .nav-dropdown-horizontal>li {
    width: 100%
}

.nav-dropdown-horizontal>li>a {
    position: relative
}

.nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.megamenu-panel {
    width: 100%;
    padding: 15px;
    display: none;
    position: absolute;
    font-size: 14px;
    z-index: 98;
    text-align: right;
    color: inherit;
    border-top: solid 2px #ae864b;
    background-color: #fdfdfd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .075)
}

.navigation-portrait .megamenu-panel {
    padding: 25px;
    position: static;
    display: block
}

.megamenu-panel [class*=container] {
    width: 100%
}

.megamenu-panel [class*="container"] [class*="col-"] {
    padding: 0
}

.megamenu-panel-half {
    width: 50%
}

.megamenu-panel-quarter {
    width: 25%
}

.navigation-portrait .megamenu-panel-half,
.navigation-portrait .megamenu-panel-quarter {
    width: 100%
}

.megamenu-panel-row {
    width: 100%
}

.megamenu-panel-row:before,
.megamenu-panel-row:after {
    display: table;
    content: "";
    line-height: 0
}

.megamenu-panel-row:after {
    clear: both
}

.megamenu-panel-row [class*=col-] {
    display: block;
    min-height: 20px;
    float: right;
    margin-left: 3%
}

.megamenu-panel-row [class*=col-]:first-child {
    margin-left: 0
}

.navigation-portrait .megamenu-panel-row [class*=col-] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px
}

.navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child {
    margin-top: 0
}

.megamenu-panel-row .col-1 {
    width: 5.583333333333%
}

.megamenu-panel-row .col-2 {
    width: 14.166666666666%
}

.megamenu-panel-row .col-3 {
    width: 22.75%
}

.megamenu-panel-row .col-4 {
    width: 31.333333333333%
}

.megamenu-panel-row .col-5 {
    width: 39.916666666667%
}

.megamenu-panel-row .col-6 {
    width: 48.5%
}

.megamenu-panel-row .col-7 {
    width: 57.083333333333%
}

.megamenu-panel-row .col-8 {
    width: 65.666666666667%
}

.megamenu-panel-row .col-9 {
    width: 74.25%
}

.megamenu-panel-row .col-10 {
    width: 82.833333333334%
}

.megamenu-panel-row .col-11 {
    width: 91.416666666667%
}

.megamenu-panel-row .col-12 {
    width: 100%
}

.megamenu-tabs {
    width: 100%;
    float: right;
    display: block
}

.megamenu-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none
}

.navigation-portrait .megamenu-tabs-nav {
    width: 100%
}

.megamenu-tabs-nav>li>a {
    width: 100%;
    padding: 10px 16px;
    float: right;
    font-size: 13px;
    text-decoration: none;
    color: #343a40;
    border: solid 1px #eff0f2;
    outline: 0;
    background-color: #fff
}

.megamenu-tabs-nav>li.active a,
.megamenu-tabs-nav>li:hover a {
    background-color: #f5f5f5
}

.megamenu-tabs-pane {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: left;
    display: none;
    font-size: 13px;
    color: #343a40;
    border: solid 1px #eff0f2;
    background-color: #fff
}

.megamenu-tabs-pane.active {
    display: block
}

.navigation-portrait .megamenu-tabs-pane {
    width: 100%
}

.megamenu-lists {
    width: 100%;
    display: table
}

.megamenu-list {
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
    display: inline-block;
    float: right;
    list-style: none
}

.megamenu-list:last-child {
    margin: 0;
    border: none
}

.navigation-landscape .megamenu-list {
    margin: -15px 0;
    padding: 20px 0;
    border-left: solid 1px #f0f0f0
}

.navigation-landscape .megamenu-list:last-child {
    border: none
}

.megamenu-list>li>a {
    width: 100%;
    padding: 5px 15px;
    display: inline-block;
    color: #343a40;
    text-decoration: none;
    font-size: 15px;
}

.megamenu-list>li>a:hover {
    background-color: #ae864b;
    color: #fff
}

.megamenu-list>li.megamenu-list-title>a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #343a40
}

.megamenu-list>li.megamenu-list-title>a:hover {
    background-color: transparent
}

.navigation-landscape .list-col-2 {
    width: 50%
}

.navigation-landscape .list-col-3 {
    width: 33%
}

.navigation-landscape .list-col-4 {
    width: 25%
}

.navigation-landscape .list-col-5 {
    width: 20%
}

.nav-menu>li>a {
    color: #343a40;
    text-transform: uppercase;
}

.nav-dropdown>li>a {
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
}

.nav-dropdown>li>a:hover,
.nav-dropdown>li>a:focus {
    color: #ae864b;
}

.main_header_area.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.transparent-menu {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 99;
}

.navigation-portrait .nav-menu>li>a {
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 30px;
}
/* end header */
/* start slider */
.sec-pd{
    padding: 30px 0 0;
}
.owl-slider .item {
    height: 350px;
    position: relative;
    overflow: hidden;
}

.owl-slider .item a {
    color: #fff;
}

.owl-slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}

.owl-slider .item .info-overlay {
    background-color: rgba(36, 36, 36, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
}

.owl-slider .item .info-overlay:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 22%;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, .75);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, .9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.01)), color-stop(100%, rgba(0, 0, 0, .9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, .9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, .9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, .9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, .9) 100%);
    transition: opacity 0.2s;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.item-info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -80px;
    padding: 10px;
    transition: all .5s ease;
    z-index: 10;
 height: 155px;

}

.owl-slider .item:hover .item-info {
    bottom: 0;
    transition: all .5s ease;
}

.owl-slider .item-info h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 20px;
}

.cat-title {
    position: absolute;
    left: 10px;
    top: 0;
    padding: 5px 10px;
    font-size: 13px;
    background: #ae864b;
    z-index: 10;
    border-radius: 3px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ae864b;
}

.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 45%;
    color: #fff !important;
    font-size: 30px !important;
    background: #ae864b !important;
    margin: 0;
    border-radius: 0px;
    padding: 0 15px !important;
    outline: 0
}

.owl-slider .owl-nav .owl-prev {
    right: 0;
}

.owl-slider .owl-nav .owl-next {
    left: 0;
}

.owl-slider .item:hover img {
    transform: scale(1.05);
    transition: all .5s ease;
}
/* start content body  */
.content-body{
    background: #F7F2E9;
    margin: 30px 0 0;
}
.sub-sec{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px
}
.sec-title{
    position: relative;
    font-weight: bold;

}
.sec-title:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -22px;
    width: 70px;
    height: 2px;
    background: #ae864b;
}
.sec-title::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -28px;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ae864b;
}
hr{
    border-width: 2px
}
 .info-top {
    margin-top: 20px;
}

 .info-top span a{
    color: #777;

 }
 .info-top span {
    margin-left: 20px;
    font-size: 12px;
    color: #777;

}
.sec-image{
    width: 100%;
    height: 445px;
    position: relative;
}
.sec-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-info{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 0 20px 10px;
    width: 500px;

}
.sec-info h2{
    margin: 10px 0;
    font-weight: bold;
    line-height: 40px
}
.sub-sec p{
    padding: 10px 0 ;
    line-height: 25px;
    height: 95px;

}
.btn i{
    font-size: 11px;

}
.post{
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 80px;
}
.more{
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.more a{
    display: block;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;

}
/* end content body  */
/* start sidebar */
.sticky{
    position: sticky;
    top: 10px;}

.sidebar{
    
}
.side-info {
    border: 1px solid #eee;
    margin-bottom: 25px;
    background: #fff;
    padding: 20px;

}

.sidebar .sec-title h4 {
    font-size: 15px;
    font-weight: bold;
}

.sidebar .sec-title h4::before {
    right: 100px;
}

.side-pad {
    padding: 0 20px 0 20px;
}
.social.side-pad{
    text-align: center;
}
.social li {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    line-height: 50px;
    text-align: center;
    margin: 0 2px 5px;
}

.social li a {
    color: #fff;
}

.social a span {
    font-size: 12px;
}

.social a i {
    font-size: 20px;
}

.social .fc {
    background: #4267B2;
}

.social .tw {
    background: #1DA1F2;
}

.social .in {
    background: #CA2F94;
}

.social .yo {
    background: #FF0000;
}

.social .go {
    background: #CF4538;
}

.social span {
    display: block;
}
.last-news .sub-sec {
    padding: 0;
    margin-bottom: 0;
}
.last-news .sec-image {
    height: 200px;
}
.last-news .sub-sec h4{
    font-weight: bold;
    line-height: 28px;
}
.last-news .sub-sec p {
    padding: 0;
}
.tr-submain {
    margin-bottom: 15px;
    display: inline-flex;
    width: 100%;
    position: relative;
}

.tr-img {
    position: relative;
    overflow: hidden;
}

.tr-img img {
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tr-img:hover img {
    transform: scale(1.1);
    transition: all 1s ease;
    opacity: .8;
}

.tr-img .cat-title {
    left: auto;
    right: 10px;
    bottom: 0;
    top: auto;
}

.tr-img .cat-title a {
    color: #fff;
}

.tr-submain .tr-img {
    float: right;
    width: 33%;
    margin-left: 15px;
        height: 80px;

}

.tr-submain .tr-info {
    width: 60%;
}
.tr-submain .tr-info h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 10px;
    line-height: 28px;
}
.tr-submain .tr-info span{
    font-size: 12px;
    color: #777;
}
.tr-submain .tr-info span i{
margin-left:5px;
}

.news-info {
    margin-bottom: 30px;
}

.news-info .tr-info {
    padding: 15px 0;
}

/* end trending */
.sid-submain .tr-img {
    width: 22%;
}

.sid-submain img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.sid-submain .tr-info {
    margin-top: 2px;
}
.side-info .tr-info h4 {
    font-size: 16px;
    line-height: 26px;
}

.side-info .num {
    color: #fff;
    background: #ae864b;
    padding: 2px 8px;
    border-radius: 2px;
}


.popular-news{
    margin-top: 30px;
}
.popular-news .tr-submain {
    margin-bottom: 30px;
}

.num-p {
    position: absolute;
    top: -18px;
    right: -10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    font-size: 19px;
    line-height: 31px;
    padding: 0 12px;
    font-weight: bold;
    color: #fff;
    background: #ae864b;
}

.cat-side li {
    padding-bottom: 13px;
}
.ad{
    margin-bottom: 25px;

}
.ad img {
    margin: auto;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* end sidebar */
/* start news slider */
.news-slider{
    margin: 30px 0;
}
.news-slider .sub-sec{
    background: #fff;
    padding: 10px;
}
.news-slider .sec-image {
    height: 200px;
}
.news-slider .owl-nav{
    position: absolute;
    top: -80px;
    left: 0;
}
.news-slider .owl-carousel .owl-nav button.owl-prev{
    left: 0;
    margin: 0 10px;
}
.news-slider .owl-theme .owl-nav [class*=owl-]{
    position: static; 
    color: #000!important;
    font-size: 20px !important;
    border: 1px solid #d5d1cb !important;
    background: transparent !important;
    padding: 0 12px !important;

}

/* end news slider */
/* start footer */
.footer-top {
    background: #674700;
    padding: 50px 0;
}

.footer-top .sec-title {
    background: transparent;
    margin-bottom: 25px;
}
.footer-top .sec-title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 56px;
    height: 2px;
    background: #ae864b;
}
.footer-top .sec-title::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    border-left: 0 solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ae864b;
}
.footer-top .sec-title h4 {
   
    font-size: 20px;
    color: #fff;
    background: transparent;
    padding: 0;
}

.footer-top .sec-title h4::before {
    content: none
}

.footer-top .social li,.profile-info .share li{
    box-shadow: none;
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
    border-radius: 50%;
    line-height: 42px;
    padding: 0;
}

.footer-top .social a i ,.profile-info .share a i{
    font-size: 15px;
}

.footer-top p {
    padding: 20px 0 20px 30px;
    color: #fff;
}
.footer-top a {
    color: #fff;
}

.footer-top li {
    margin-bottom: 5px;
}
/* end footer */
/* =========================== pages ================================ */
/* start gategory page */
.breadcrumb{
    background: transparent;
    padding: 0;

}
.breadcrumb a{
    color:#777;
}
.breadcrumb a:hover{
    color: #ae864b
}
.pg-title {
        font-size: 45px;
        font-weight: bold;
        line-height: 55px;
}
.contentpage .post{
    padding-bottom: 0
}
.sub-sec1{
    margin-bottom: 30px
}
.sp-title{
    background: #ae864b;
    color: #fff;
    padding: 0 5px;
    border-radius: 4px;
    font-size: 11px;
    margin-left: 10px;
}
.tags li{
    margin-bottom: 5px;
}
.share .social li:first-child{
    width: auto;
    height: auto;
}
.profile-info img{
        width: 100px;
        height: 100px;
        object-fit: cover;
}
.profile-info .tr-submain .tr-img {
    width: 15%;
    margin-top: 15px;

}
.profile-info .tr-submain .tr-info {
    width: 75%;
}
.profile-info .tr-img:hover img{
    transform: scale(1)
}
.profile-info .share{
    margin-top: 20px;

}
.sub-sec1 .sec-image {
    height: 150px;
}
.sub-sec1 h3{
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    margin-top: 5px;
}
/* end gategory page */
/* start product page */
.post.pro{
    margin: 0 ;
    padding-bottom: 30px
}
.products {
    border: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.products .sec-image {
    height: 230px;
}
 .price{
    font-size: 22px;
    margin: 0;
    line-height: 32px;
    color: #986f40;
}
.pro-top .price{
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
        color: #986f40;

}
.pro-top .pg-title i{
    font-size: 30px
}
/* end product page */
@media only screen and (min-width:320px) and (max-width:767px) {
    .nav-dropdown>li>a,
    .megamenu-list>li>a {
        width: 65%
    }
}

@media (max-width:767px) {
    .sec-info{
        width: 100%;
    }
    .sub-sec {
        padding: 20px;
    }
    .sec-image {
        height: auto;
    }
    .sec-info {
        position: static;
    }
    .post {
      
        padding-bottom: 80px;
    }
    .nav-menu>li {
        display: inline-block;
        margin: 0 ;
        text-align: right
    }
    .nav-search{
        float: left;
    }
    .sec-info h2 ,.sub-sec h2 {
        line-height: 37px;
        font-size: 25px;
        font-weight: bold;
    }
    .profile-info .tr-submain .tr-img{
        width: 33%;
    }
    .footer-top .social li, .profile-info .share li {
        width: 35px;
        height: 35px;
        line-height: 35px;
        
    }
   
}

@media  (min-width: 768px) and (max-width: 1024px) {
    .nav-search{
        float: left;
    }
    .tr-submain .tr-img {
        width: 20%;
}
.last-news .sec-image {
    height: 445px;
}
.sub-sec1 .sec-image{
    height: 445px;
}
}

@media (min-width:1024px) and (max-width: 1366px) {
    .nav-search{
        float: none;
    }
    .last-news .sec-image {
        height: 200px;
    }
    .tr-submain .tr-img {
        width: 33%;
}
.sub-sec1 .sec-image{
    height: 150px;
}
}

@media (min-width: 1025px) and (max-width: 1536px) {}