html{
    direction: ltr
}
.megamenu-panel{
    text-align: left
}
.submenu-indicator {
    margin-left: 6px;
    margin-top: 8px;
    float: right;
}
.navigation-landscape .megamenu-list {
   
    float: left;
    border-right: solid 1px #f0f0f0;
}
.navigation-landscape .megamenu-list:first-child{
    border:0;
}
.sec-title::before,.sec-title::after,.sec-info,.footer-top .sec-title::before{
    right: auto;
    left: 0;
    
}
.pull-left{
    float: right !important;
}
.pull-right{
    float: left !important;
}
.info-top span {
    margin-right: 20px;
        margin-left: 0px;

}
.btn i {
    transform: rotate(180deg);
    margin-left: 10px;
}
.news-slider .owl-nav {
   right: 0;
    left: auto;
}
.tr-submain .tr-img {
    float: left;
   
    margin-right: 15px;
}
.num-p {
    left: -10px;
    right: auto;
} 
.owl-slider .owl-nav .owl-prev{
    right: auto;
    left: 0;
}
.owl-slider .owl-nav .owl-next{
    right: 0;
    left: auto;
}
.tr-submain .tr-info span i{
margin-left:0;
margin-right:5px;

}















